
<div class=row>

  <div class=col-sm-8>
    <blockquote>
      <p>{{quote.txt}}</p>
      <footer>{{quote.author}}</footer>
    </blockquote>
  </div>

  <div class=col-sm-2>
    <h2>
      <span *ngIf="quote.votes > 0">+</span>
      <span *ngIf="quote.votes < 0 || quote.votes === 0"></span>
      {{quote.votes}}
    </h2>
  </div>

  <div class=col-sm-2>
    <div class="btn-group-vertical">
      <button (click)="updateQuote('up')" type="button" class="btn btn-success">Vote Up</button>
      <button (click)="updateQuote('down')" type="button" class="btn btn-warning">Vote Down</button>
      <button (click)="updateQuote('delete')" type="button" class="btn btn-danger">Delete</button>
    </div>
  </div>

</div>